html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'DotGothic16', sans-serif;
  display: flex;
  justify-content: space-between;
  background: yellow;
  color: white;
  user-select: none;
  overflow-x: hidden;
  transition: all 1s
}

.start-button {
  border: none;
  background: none;
  font-family: 'DotGothic16', sans-serif;
  color: white;
  cursor: pointer;
  padding: 10%;
  z-index: 2;
  transition: transform .1s ease-in;
}

.start-button:focus {
  outline: none
}

.start-button:hover {
  transform: scale(2.5);
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  background: red;
  color: black;
  overflow-y: scroll;
}

.players::-webkit-scrollbar {
  z-index: -1;
  display: none;
}

.player-wrapper {
  background: red;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 10%;
}

.player-wrapper>img {
  margin-top: 10%;
  width: 5em;
}

.player-wrapper>h3 {
  text-align: center;
  padding: 1em 0;
}

.win-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win-counter>p {
  font-size: 4em;
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
  background: blue;
  padding-bottom: 5%;
  padding-top: 3%;
  overflow-y: scroll;
}

.game::-webkit-scrollbar {
  display: none;
}

.game>h1 {
  padding-bottom: 10%;
  text-align: center;
}

.game-board {
  width: 80%;
  height: 80%;
  min-height: 25em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.squares {
  min-height: 6em;
  min-width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.squares:hover {
  cursor: pointer;
}

.squares>img {
  width: 3em;
}

.center {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.mid {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.wiggle {
  -webkit-animation: wiggle .3s infinite alternate ease-in-out;
  animation: wiggle .3s infinite alternate ease-in-out;
}

.winner {
  -webkit-animation: winner 2.5s ease-in-out;
  animation: winner 2.5s ease-in-out;
}

.draw {
  -webkit-animation: draw 2.5s ease-in-out;
  animation: draw 2.5s ease-in-out;
}

.wobble {
  -webkit-animation: wobble 0.3s infinite alternate ease-out;
  animation: wobble 0.3s infinite alternate ease-out;
}

.disable-board {
  pointer-events: none;
}

/* Wiggle Animation */
@-webkit-keyframes wiggle {
  100% {
    transform: rotate(10deg) perspective(10em) translateZ(2em);
  }
}

@-o-keyframes wiggle {
  100% {
    transform: rotate(10deg) perspective(10em) translateZ(2em)
  }
}

@-moz-keyframes wiggle {
  100% {
    transform: rotate(10deg) perspective(10em) translateZ(2em)
  }
}

@keyframes wiggle {
  100% {
    transform: rotate(10deg) perspective(10em) translateZ(2em);
  }
}

/* Winner Animation */
@-webkit-keyframes winner {
  40% {
    transform: scale3d(2, 2.5, 1);
  }

  100% {
    transform: scale3d(0, 0, 0)
  }
}

@-o-keyframes winner {
  40% {
    transform: scale3d(2, 2.5, 1);
  }

  100% {
    transform: scale3d(0, 0, 0)
  }
}

@-moz-keyframes winner {
  40% {
    transform: scale3d(2, 2.5, 1);
  }

  100% {
    transform: scale3d(0, 0, 0)
  }
}

@keyframes winner {
  40% {
    transform: scale3d(2, 2.5, 1);
  }

  100% {
    transform: scale3d(0, 0, 0)
  }
}

/* Draw Animation */
@-webkit-keyframes draw {
  30% {
    transform: scale3d(2, 2, 1)
  }

  100% {
    transform: scale3d(2, 0, 1);
  }
}

@-o-keyframes draw {
  30% {
    transform: scale3d(2, 2, 1)
  }

  100% {
    transform: scale3d(2, 0, 1);
  }
}

@-moz-keyframes draw {
  30% {
    transform: scale3d(2, 2, 1)
  }

  100% {
    transform: scale3d(2, 0, 1);
  }
}

@keyframes draw {
  30% {
    transform: scale3d(2, 2, 1)
  }

  100% {
    transform: scale3d(2, 0, 1);
  }
}

/* WOBBLE ANIMATION */
@-webkit-keyframes wobble {
  20%, 100% {
    transform: translateY(10%)
  }
}

@-o-keyframes wobble {
  20%, 100% {
    transform: translateY(10%)
  }
}

@-moz-keyframes wobble {
  20%, 100% {
    transform: translateY(10%)
  }
}

@keyframes wobble {
  20%, 100% {
    transform: translateY(10%)
  }
}

@media only screen and (max-device-width: 480px) {
  .players {
    display: none;
    height: 100%;
    width: 100%;
    flex-grow: 0;
    position: absolute;
    bottom: 0;
  }

  .game {
    width: 100%;
    max-height: 100%;
    padding-bottom: 50%;
    flex-grow: 0;
  }

  .mobile-win {
    display: block;
  }
}
